/* Genral styling*/
body {
 font-family: Arial, sans-serif;
 background-color: whitesmoke;
 margin: 0;
 padding: 130px;
}
resum-container{
    display: flex;
    background-color: azure;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(red, red, black, black);
} 
/*Left section stylig*/
.left section{
background-color: white;
color: blueviolet;
padding: 20px;
text-align: center;
border-right: 5px solid blueviolet;
}

.profile-pick{
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid blueviolet;
    margin-bottom: 20px;
}
h1{
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    color: blue;
    border-radius: 10px;
    box-shadow: 0 0 15px blueviolet;

}
ul {
   list-style-type: square;
   padding: 10;
   margin: 10px 0;
}
ul li {
    margin: spx 0;
}

/* right section styling */
.right section{
    padding: 20px;
    width: 65%;
}
button{
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15% blueviolet;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}
button:hover{
    background-color: red;
}